<p>hardsoftskills-edit</p>
<p>Habilidad 1</p>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text"
      ><button type="button" class="btn btn-secondary">Summit</button></span
    >
  </div>
  <textarea class="form-control" aria-label="With textarea"></textarea>
</div>
<form>
  <div class="form-group">
    <label for="exampleFormControlFile1">Example file input</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1" />
  </div>
</form>
<p>Habilidad 2</p>

<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text"
      ><button type="button" class="btn btn-secondary">Summit</button></span
    >
  </div>
  <textarea class="form-control" aria-label="With textarea"></textarea>
</div>
<form>
  <div class="form-group">
    <label for="exampleFormControlFile1">Example file input</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1" />
  </div>
</form>
<p>Habilidad 3</p>

<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text"
      ><button type="button" class="btn btn-secondary">Summit</button></span
    >
  </div>
  <textarea class="form-control" aria-label="With textarea"></textarea>
</div>
<form>
  <div class="form-group">
    <label for="exampleFormControlFile1">Example file input</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1" />
  </div>
</form>
<p>Habilidad 4</p>

<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text"
      ><button type="button" class="btn btn-secondary">Summit</button></span
    >
  </div>
  <textarea class="form-control" aria-label="With textarea"></textarea>
</div>
<form>
  <div class="form-group">
    <label for="exampleFormControlFile1">Example file input</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1" />
  </div>
</form>
